@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    height: 100%;  
}

.card img {
    border-radius: 10px;
    height: 400px;
    width: 100%;
}

.row {
    column-gap: 370px;
  }

/* Background */
body {
background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23220000' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23440000' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23660000' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23880000' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23A00' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: whitesmoke;
    text-align: center;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: whitesmoke;
    text-align: center;
}

.container h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
}

.card-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: justify;
}

footer {
    position:fixed;
    left: 0px;
    bottom: 0px;
    height: 55px;
    width: 100%;
}